In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Isangel,VU,2022-05-20 22:40:29,-19.5500,169.2667,78.91,94,75,14.97
1,1,General Cepeda,MX,2022-05-20 22:47:45,25.3833,-101.4500,94.06,8,35,19.57
2,2,Pangnirtung,CA,2022-05-20 22:39:12,66.1451,-65.7125,34.23,89,100,1.59
3,3,Cape Town,ZA,2022-05-20 22:47:46,-33.9258,18.4232,55.11,83,20,1.14
4,4,Scottsbluff,US,2022-05-20 22:43:02,41.8666,-103.6672,48.29,43,100,21.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Isangel,VU,2022-05-20 22:40:29,-19.5500,169.2667,78.91,94,75,14.97
6,6,Vaini,TO,2022-05-20 22:47:46,-21.2000,-175.2000,80.76,78,20,6.91
7,7,Powassan,CA,2022-05-20 22:47:46,46.0334,-79.3496,77.86,74,99,15.99
9,9,Chai Nat,TH,2022-05-20 22:47:47,15.1167,100.1000,81.05,80,100,8.72
19,19,Avarua,CK,2022-05-20 22:47:49,-21.2078,-159.7750,82.45,65,40,8.05
23,23,Powell,US,2022-05-20 22:47:50,40.1578,-83.0752,87.80,54,0,23.02
25,25,Poya,NC,2022-05-20 22:47:51,-21.3500,165.1500,80.71,75,57,11.14
28,28,Hirara,JP,2022-05-20 22:47:51,24.8000,125.2833,75.06,83,75,17.27
31,31,Port Moresby,PG,2022-05-20 22:42:48,-9.4431,147.1797,81.82,74,20,3.44
33,33,Jamestown,US,2022-05-20 22:38:05,42.0970,-79.2353,78.39,81,75,12.66

In [12]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Isangel      VU     78.91 -19.5500  169.2667
6          Vaini      TO     80.76 -21.2000 -175.2000
7       Powassan      CA     77.86  46.0334  -79.3496
9       Chai Nat      TH     81.05  15.1167  100.1000
19        Avarua      CK     82.45 -21.2078 -159.7750
23        Powell      US     87.80  40.1578  -83.0752
25          Poya      NC     80.71 -21.3500  165.1500
28        Hirara      JP     75.06  24.8000  125.2833
31  Port Moresby      PG     81.82  -9.4431  147.1797
33     Jamestown      US     78.39  42.0970  -79.2353

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Isangel,VU,78.91,-19.5500,169.2667,Tanna Lodge
6,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
7,Powassan,CA,77.86,46.0334,-79.3496,Munro Park Campgrounds
9,Chai Nat,TH,81.05,15.1167,100.1000,Thai Boxing ROSEINN RESORT
19,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
23,Powell,US,87.80,40.1578,-83.0752,The Brig
25,Poya,NC,80.71,-21.3500,165.1500,
28,Hirara,JP,75.06,24.8000,125.2833,
31,Port Moresby,PG,81.82,-9.4431,147.1797,
33,Jamestown,US,78.39,42.0970,-79.2353,

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))